.content-body-background {
  background-color: var(--color-alpha-beige);
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  padding: 4rem;
  gap: 4rem;
}

.content-body {
  width: 90vw;
  max-width: 100rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
