@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@700&family=Montserrat:wght@400&family=Roboto:wght@400;600&family=Roboto+Slab:wght@400&display=swap");
@import "tailwindcss";

:root {
  --background: #efe0d0;
  --foreground: #db241e;
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Roboto Slab", serif;
  --font-title: "Rajdhani", sans-serif;
  --font-body: "Montserrat", sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-primary);
  --font-mono: var(--font-primary);
}

@theme {
  --color-sigma-red: var(--foreground);
  --color-alpha-beige: var(--background);
  --text-10xl: 10rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: black;
  color: var(--foreground);
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.872em;
  text-transform: none;
  letter-spacing: 0.16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-title);
  font-weight: 700;
}

p {
  font-family: var(--font-body);
}

a {
  font-family: var(--font-title);
}

strong {
  font-family: var(--font-primary);
  font-weight: 600;
}

@keyframes slideUpFadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes slideDownFadeOut {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(20px);
  }
}

@keyframes letterSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up-fade-in {
  animation: slideUpFadeIn 0.8s ease-out forwards;
}

.slide-down-fade-out {
  animation: slideDownFadeOut 0.6s ease-out forwards;
}

.letter-animate span {
  display: inline-block;
  opacity: 0;
  animation: slideUpFadeIn 0.6s ease forwards;
}

.cursive-text {
  font-family: "Homemade Apple", cursive;
  font-size: 24px;
}
